{% extends 'base.html' %}

{% block manage_active %}active{% endblock %}
{% block title_name %}manageProduct Page{% endblock %}
{% block head %}
Manage Products 



{% endblock %}

{% block body %}

<div class="container content">
<div class="row" >
  <h5 style="font-size: 19px;">
    <i class='glyphicon glyphicon-tags'></i> &emsp; Products Archive
    <a href="{% url 'adminpage:admin_newProduct' %}" class="pull-right btn btn-default btn-md" style="margin-top: -6.8px;">
      <span class="glyphicon glyphicon-plus-sign"></span> New Product
    </a>
  </h5>
</div>
</div>

<br>
{% include 'productSearch.html' %}

<div class="container content" >
  <div class="row">
    <div class="col col-lg-15 col-md-15" id="needreplace">

    <div class="btn-group btn-group-justified" role="group" style="margin-bottom: 20px;">
      <div class="btn-group" role="group">

        {% if 'A' in actives %}
          <button type="button" class="letter btn btn-default active" style="border-left-width: 1px;">A</button>
        {% else %}
          <button type="button" class="letter btn btn-default" style="border-left-width: 1px;">A</button>
        {% endif %}
          
      </div>
      {% for i in atoz %}
      <div class="btn-group" role="group">
        {% if i in actives %}
          <button type="button" class="letter btn btn-default active" style="border-left-width: 1px;">{{i}}</button>
        {% else %}
          <button type="button" class="letter btn btn-default" style="border-left-width: 1px;">{{i}}</button>
        {% endif %}
      </div>
      {% endfor %}
    </div>
    <br>
    {% for active, product_list in active_products %}
      
      <div class="panel panel-default col-md-13 col-lg-13 ">
        <div class="panel-heading collapsable">
          <h3>
            <span class="pull-left">{{active}}</span>
            <span class="pull-right clickable order-span">
              <span class="badge" style="font-size: 13px; margin-bottom: -15px; background-color:#AF8020; margin-right: 20px;">
                {{product_list.count}} Products
              </span>
              {% if forloop.last %}
                <i class="glyphicon glyphicon-chevron-up"></i>
              {% else %}
                <i class="glyphicon glyphicon-chevron-down"></i>
              {% endif %}
            </span>
          </h3>
        </div>
        <div class="panel-body"><br>

          <table class="table table-hover tablesorter">
            <thead>
              <tr>
                <th>Generic Name</th>
                <th>Drug Brand</th>
                <th>Strength</th>
                <th>CIN Number</th>
                <th>Price</th>
                <th style="background-image: none;background-color: #FFF; cursor: default;">Edit Product</th>
              </tr>
            </thead>
              
            <tbody>
              {% for product in product_list %}
              <tr class="producttr">
                <td>{{product.name}}</td>
                <td>{{product.brand}}</td>
                <td>{{product.strength}}</td>
                <td>{{product.CIN}}</td>
                <td>{{product.price}}</td>
                <td >
                  <a href="{% url 'adminpage:admin_productEdit' product.pk %}" class="btn btn-default btn-sm">
                    <span class="glyphicon glyphicon-edit clickable"></span>
                  </a>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>

        </div>
      </div>
    {% endfor %}
    </div>
  </div>
  <script type="text/javascript">var actives = "{{actives}}";</script>
</div>

{% load static %}
<script type="text/javascript" src="{% static 'js/jquery.tablesorter.js' %}"></script>
<script type="text/javascript">

  function connect_table() {
    $(".tablesorter").tablesorter(
      {
        headers: {
          5: { sorter: false }

        }
      }); 
  }

  $(".tablesorter").ready(function() {
    connect_table();  
  });

</script>

{% csrf_token %}
<script type="text/javascript">

  $(document).on('click', '.letter', function(){ 
    
    var $that = $(this);
    var token = $('input[name=csrfmiddlewaretoken]').attr('value');
    
    if ($that.hasClass("active") ) {
      actives = actives.replace($that.text(),"");
    } else {
      actives += $that.text();
    }
    
    $.ajax({
      type: 'POST',
      data: {actives: actives},
      url: "{% url 'adminpage:admin_manageProducts' %}",
      beforeSend: function(request) {
        request.setRequestHeader('X-CSRFToken', token);
      },
      success: function(result) {
            $("#needreplace").html($("#needreplace", result));
            slide_up();
            connect_table();
      },   
    });
    
  });

  function slide_up() {
    $('.panel-heading span.clickable i.glyphicon-chevron-down').each(function() {
      var $this = $(this);
      $this.parents('.panel').find('.panel-body').slideUp(0);
    });
  }

</script>




{% endblock body %}